# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build
dist

# Debug / env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env*.local

# Vercel
.vercel

# IDE / OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage

# Misc
*.pem
